body {
  font-family: "Poppins",
 sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container img {
  max-width: 50px;
}

.heading_container h2 {
  font-weight: bold;
}

.heading_container h1 {
  font-weight: bold;
}

.hero_area {
  height: 100vh;
  background-color: #DAD8E9;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 88%;
  background-image: url(../images/hero-bg2.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  height: auto;
  background: none;
}

.sub_page .hero_area::before {
  width: 225px;
  height: 110px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #f5a9ee;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          
}

.navbar-brand img {
  width: 65px;
  transition: transform 0.2s;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option .form-inline {
  position: relative;
  margin-right: 15px;
}

.User_option .form-inline input {
  display: none;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu_btn-style {
  position: fixed;
  right: 29px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 22px;
  margin-left: auto;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(10, 32, 80, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}


.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .detail-box {
  margin: 45px 5% 0 5%;
  padding-bottom: 45px;
  border-right: 2px solid #f5a9ee;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  color: #010001;
  font-size: 3rem;
  padding-bottom: 15px;
  position: relative;
}

.slider_section .detail-box h1 span {
  color: #f5a9ee;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -5px 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  width: 165px;
  text-align: center;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #0a2050;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0a2050;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #0a2050;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #f5a9ee;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f5a9ee;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #f5a9ee;
}

.slider_section .img-box img {
  max-width: 100%;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #f5a9ee;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.slider_section .li_before::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 3.5px;
  width: 1.5px;
  height: 17px;
  background-color: #f5a9ee;
  border-radius: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.about_section .detail-box {
  text-align: center;
  width: 80%;
  margin: auto;
}

.about_section .detail-box .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about_section .detail-box .heading_container h2 {
  color: #151515;
}

.about_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.about_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.about_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5a9ee;
  text-transform: uppercase;
}

.about_section .detail-box .btn-box a img {
  margin-left: 5px;
}

.food_section {
  background-color: #DAD8E9;
  background-size: cover;
  color: #0a2050;
}

.food_section .food_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food_section .food_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px 2.5%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.food_section .food_container .box .img-box {
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.food_section .food_container .box .img-box img {
  width: 100%;
}

.food_section .food_container .box .detail-box {
  margin-top: 15px;
}

.food_section .food_container .box .detail-box h5 {
  font-weight: bold;
}

.food_section .food_container .box.b1 {
  -webkit-animation: odd-box-animate 3s infinite;
          animation: odd-box-animate 3s infinite;
}

.food_section .food_container .box.b2 {
  -webkit-animation: even-box-animate 3s infinite;
          animation: even-box-animate 3s infinite;
}



@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.pet_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pet_section .img-box {
  position: relative;
  padding-right: 45px;
}

.pet_section .img-box img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.pet_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -145px;
  width: 100%;
  height: 110%;
  background-image: url(../images/pet-bg.png);
  z-index: 1;
  background-repeat: no-repeat;
}

.pet_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.pet_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.pet_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5a9ee;
  text-transform: uppercase;
}

.pet_section .detail-box .btn-box a img {
  margin-left: 5px;
}


.contact_section {
  position: relative;
}

.contact_section .form_container {
  padding: 0 35px;
}

.contact_section form {
  margin-top: 45px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: #ebebeb;
  outline: none;
  color: #101010;
}

.contact_section input::-webkit-input-placeholder {
  color: #979696;
}

.contact_section input:-ms-input-placeholder {
  color: #979696;
}

.contact_section input::-ms-input-placeholder {
  color: #979696;
}

.contact_section input::placeholder {
  color: #979696;
}

.contact_section input.message-box {
  height: 200px;
}

.contact_section textarea {
  width: 100%; 
  height: 50px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  background-color: #ebebeb;
  color: #101010; 
  outline: none;
  margin-bottom: 25px; 
  resize: vertical; 
  overflow: auto;
}

.contact_section textarea::placeholder {
  color: #979696;
}




.contact_section button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f5a9ee;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f5a9ee;
  border-radius: 0;
  color: #fff;
  margin-top: 35px;
}

.contact_section button:hover {
  background-color: transparent;
  color: #f5a9ee;
}

.contact_section .map_container {
  height: 764px;
  border-radius: 100% 0 0 0;
  overflow: hidden;
  margin-left: 45px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.restaurant_section .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}

.restaurant_section .grid-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.restaurant_section .grid-item:hover {
  transform: scale(1.05);
}

.restaurant_section .grid-item img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px; 
}

.highlights_section {
  background-color: #DAD8E9;
  background-size: cover;
  color: #0a2050;
}

.highlights_section .highlights_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.highlights_section .highlights_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px 2.5%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  transition: transform 0.2s;
}

.highlights_section .highlights_container .box:hover {
  transform: translateY(-5px);
}

.highlights_section .highlights_container .box .img-box {
  border-radius: 25px;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.highlights_section .highlights_container .box .img-box img {
  width: 100%;
}

.highlights_section .highlights_container .box .detail-box {
  margin-top: 15px;
}

.highlights_section .highlights_container .box .detail-box h5 {
  font-weight: bold;
}

.logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
  margin-bottom: 30px;
}

.logo_image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: transform 0.2s;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.15);
}

.logo_image img:hover {
  transform: translateY(-5px);
}

.styled-table {
  border-collapse: separate;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #f5a9ee;
  color: #0a2050;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: 0.4s;
}

.styled-table tr:nth-child(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0a2050;
}

.styled-table tbody tr:hover {
  color: #0a2050;
  background-color: #e0e0e0;
}

.styled-table th:nth-child(1),
        .styled-table td:nth-child(1) {
            width: 60%; 
        }

        .styled-table th:nth-child(2),
        .styled-table td:nth-child(2) {
            width: 15%;
        }

        .styled-table th:nth-child(3),
        .styled-table td:nth-child(3) {
            width: 10%; 
        }

        .styled-table th:nth-child(4),
        .styled-table td:nth-child(4) {
            width: 15%; 
        }

.food_table {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.food_table tr {
  cursor: pointer;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 60px; 
}

.image-section img {
  width: 300px; 
  border-radius: 15px; 
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s
}

.image-section img:hover {
  transform: translateY(-5px);
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  max-width: 800px;
  margin: auto;
}

.color-item {
  width: 50px; 
  height: 50px; 
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-item:hover {
  transform: scale(1.1);
}

.color-info {
  position: absolute;
  transform: translateX(-50%);
  top: 110%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}
.rating-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating-items {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 10px;
  width: 100%; 
}

.rating-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

.label {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #0a2050;
  transition: transform 0.2s;
}

.label:hover {
  transform: translateY(-5px);
}

.rating-bar {
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
}

.rating-bar:hover{
  transform: scale(1.1);
}

.rating-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #4caf50;
  transition: width 0.5s;
}
.more-info {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.info-columns {
  display: flex;
  justify-content: center;
  text-align: left; 
  align-items: flex-start;
}

.specificFood {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.Food-Title h1 {
  margin: 0;
  color: #0a2050;
  text-align: center; 
  padding: 20px;
  border: 2px solid #0a2050; 
  border-radius: 10px; 
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 80%; 
  max-width: 600px; 
  margin: auto; 
}

.average-score {
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0a2050;
  padding: 10px 20px;
  border-radius: 15px; 
  background-color: #f4f4f4; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.average-score:hover {
  transform: translateY(-5px);  
}

.nutrition-table {
  display: flex;
  flex: 3;
  margin: 0 10px;
}

.styled-table2 {
  border-collapse: separate;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

.styled-table2 th,
.styled-table2 td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table2 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table2 tr:nth-child(even) {
  background-color: #f3f3f3;
}

.styled-table2 tbody tr:last-of-type {
  border-bottom: 2px solid #0a2050;
}

.styled-table2 tbody tr:hover {
  font-weight: bold;
  color: #0a2050;
  background-color: #e0e0e0;
}

.styled-table2 th:nth-child(1),
        .styled-table2 td:nth-child(1) {
            width: 60%; 
        }

        .styled-table2 th:nth-child(2),
        .styled-table2 td:nth-child(2) {
            width: 40%; 
        }




.allergens, .ingredients {
  flex: 3;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.ingredients{
  margin-left:20px
}

.allergen-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
}

.allergen-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f9f9f9; 
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s; 
}

.allergen-item:hover {
  transform: translateY(-5px); 
}

.allergen-item img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.allergen-item p {
  margin: 0;
  font-weight: bold; 
}

#infoTable {
  border-collapse: separate;
  margin: 0px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-spacing: 0;
  
  border-radius: 10px;
  overflow: hidden;
  
}

#infoTable th,
#infoTable td {
    padding: 12px 15px;
    text-align: center;
}
#infoTable tr.clickable {
  cursor: pointer;
}
#infoTable tr.details {
  display: none; 
  align-items: center;
  background-color: #f3f3f3;
}

#infoTable th{
    background: #f5a9ee;
}

#infoTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

#infoTable tbody tr.clickable:nth-child(4n+3) {
  background-color: #f9f9f9;
}

#infoTable tbody tr:last-of-type {
  border-bottom: 2px solid #0a2050;
}

#infoTable tbody tr.clickable:hover {
  font-weight: bold;
  color: #0a2050;
  background-color: #e0e0e0;
}

#infoTable th:nth-child(1),
#infoTable td:nth-child(1) {
            width: 60%; 
        }
        #infoTableth:nth-child(2),
        #infoTable td:nth-child(2) {
            width: 40%;
        }

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 8px; 
  padding: 5px; 
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 8px; 
  margin: 0 2px; 
}

.tab button:hover {
  background-color: #ddd;

}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none; 
  padding: 20px; 
  margin: 0 auto; 
  max-width: 100%; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.overview-tab {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px; 
}

.reviews-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.review-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.review-box:hover {
  transform: translateY(-5px);
}

.review-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.review-content {
  font-size: 1em;
  margin-bottom: 15px;
}

.review-author {
  display: flex;
  align-items: center;
}

.author-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
  font-size: 1em;
}

.background-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.background-section h1 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #e74c3c; 
  text-align: center;
}

.background-section p {
  font-size: 1em;
  line-height: 1.6;
  text-align: justify;
  margin: 0;
}

.blog_section .img-box { 
  width: 100%; 
  height: 300px; 
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 20px;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.blog_section .img-box img {
  width: 100%;
  max-height: 100%;
  object-fit: cover; 
  object-position: center center;
}

.blog_section .img-box:hover {
  transform: translateY(-5px);
}

.blog_box h5 {
  font-size: 20px;
  font-weight: normal;
  transition: font-weight 0.3s, text-decoration 0.3s;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}

.blog_box h5:hover {
  text-decoration: underline;
}

.heading_container h2 {
  font-weight: normal;
  transition: font-weight 0.3s, text-decoration 0.3s;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}

.heading_container h2:hover {
  text-decoration: underline;
}

.detail-box a {
  color: #0a2050;  
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s; 
}

.heading_container {
  margin-bottom:-20px;
}

.blog_box .detail-box .date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.blog_box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.blog_box.show {
  opacity: 1;
  transform: translateY(0);
}

.post-date {
  font-size: 0.9rem;
  color: #777;
  text-align: right; 
}

.blog-post-content {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.blog-post h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;      
}

.blog-post {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.blog-post .img-container {
  width: 100%; 
  height: 600px; 
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 20px;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover; 
  object-position: center center;
}

.blog-post .img-container:hover {
  transform: translateY(-5px);
}

.author-section {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-section .author-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-section .author-name {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

.scroll-btn-section {
  width: 100%; 
  background-color: #0a2050; 
  text-align: center;
  padding: 20px 0; 
  margin-top: 40px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.scroll-top-btn {
  background-color: #0a2050; 
  color: #ffffff; 
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.scroll-btn-section:hover {
  background-color: #1b3a7a; 
}

.scroll-btn-section:hover .scroll-top-btn {
  background-color: #1b3a7a; 
  color: #ffffff; 
}

.scroll-top-btn:hover {
  background-color: #1b3a7a; 
  color: #ffffff;
}



.navigation-container {
  position: fixed;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none; /* Ensures only the buttons are clickable */
}

.navigation-box a {
  pointer-events: auto; /* Allow clicks on arrows */
  width: 60px; /* Narrow width */
  height: 100px; /* Greater height than width */
  background-color: #0a2050;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 15px; /* Adjust icon size */
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.navigation-box a:hover {
  background-color: #0a2050;
  transform: scale(1.1); /* Slight enlarge on hover */
}

.navigation-box a.left {
  background-image: url('/images/prev-angle.png'); /* Left arrow image */
  position: absolute;
  left: 10px; /* Position near the left edge */
}

.navigation-box a.right {
  background-image: url('/images/next-angle.png'); /* Right arrow image */
  position: absolute;
  right: 10px; /* Position near the right edge */
}